* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: blueviolet;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/* @media screen and (max-width: 768) {
    
} */